:root {
 --primary-color: #180024;
}

body {
  box-sizing: content-box;
  background: rgb(24, 0, 36);
  background: linear-gradient(
    11deg,
    rgba(24, 0, 36, 0.8158613787311799) 0%,
    rgba(9, 113, 121, 0.8578781854538691) 44%,
    rgba(0, 254, 255, 0.8298669809720763) 100%
  );
  background-attachment: fixed;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: rgb(0, 0, 0);
  height: 6vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 1em;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.signin {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-weight: bolder;
}

.signin div {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.signin h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 2px 2px 1px;
}

.signin button {
  background-color: rgba(0,0,0,.3);
  border-radius: 2em;
}

.signin button:hover {
  background-color: black;
}

main {
  height: 84vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: rgb(179, 179, 179);
}

main::-webkit-scrollbar-thumb {
  background: #000000;
}

form {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.76);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(0, 0, 0);
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(255, 252, 252);
  color: rgb(0, 0, 0);
  outline: none;
  border-top: solid black 2px;
  border-left: none;
  padding: 0 10px;
}

button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: .5em .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.btn-large {
  padding: .8em 1.5em;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  /* max-width: 90%; */
  line-height: 24px;
  position: relative;
  text-align: start;
}

.message {
  width: max(80%, 400px);
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.message div {
  border-radius: 0.7em;
  padding: 0.5em 1em;
}

.sent {
  flex-direction: row-reverse;
  margin-left: auto;
}

.sent div {
  background: rgba(230, 255, 254, 0.815);
}
.sent p {
  color: rgb(19, 12, 12);
  align-self: flex-end;
  margin-right: auto;
}

.received div {
  background: rgb(224, 224, 224);
  margin-left: 0;
}

.received p {
  color: black;
  margin-left: 0;
}

.received p.username {
  font-size: 0.9em;
  text-align: start;
  margin: 0.2em 0;
  font-weight: bold;
  line-height: 1em;
}

.sent p.username {
  font-size: 0.9em;
  text-align: end;
  margin: 0.2em 0;
  font-weight: bold;
  line-height: 1em;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0.5em 0.8em;
  align-self: flex-start;
}


@media only screen and (max-width: 500px) {
  .signin div {
    width: 360px;
  }


  img {
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    margin: 0.2em 0.2em;
  }

  .message {
    width: 100%;
    margin: .5em 0
  }
  .message > div {
    max-width: 70%;
  }

  .button {
    padding: 0;
  }
}